<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haogu.mapper.UserMapper">
    <select id="selectAllUserByPage" resultType="VUser">
        select u.id,u.username,u.phone,u.email,r.roleName roleNames,u1.username createBy,u.createTime,u2.username updateBy,u.updateTime,u.status
        from tb_system_user u,tb_system_user_role ur,tb_system_role r,tb_system_user u1,tb_system_user u2
        where u.id=ur.userid and ur.roleid=r.id and u.createBy=u1.id and u.updateBy=u2.id
        limit #{pageNum},#{pageSize}
    </select>
</mapper>